{{template "top" .}}

<h1 class="mb-2">Login</h1>
<form hx-post="/htmx/login" hx-target="#red-box" hx-swap="innerHTML" hx-ext="json-enc" style="max-width:500px;">
    <div id="red-box" class="alert alert-danger border border-4 border-danger"></div>
    <label>Username</label>
    <input type="text" name="username" class="form-control mb-2" placeholder="username" />
    <label>Password</label>
    <input type="password" name="password" class="form-control mb-2" placeholder="password" />
    <button type="submit" class="btn btn-outline-dark">Login</button>
</form>

{{template "bottom" .}}