{{template "top" .}}
<script>
    var check = function () {
        if (document.getElementById('password').value !=
            document.getElementById('confirm_password').value) {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Passwords do not match<br>';
            document.getElementById('submit').disabled = true;
        } else {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = '';
            document.getElementById('submit').disabled = false;
        }
    }
</script>
<h1 class="mb-2">Signup</h1>
<form hx-post="/htmx/signup" hx-target="#red-box" hx-swap="innerHTML" hx-ext="json-enc" style="max-width:500px;">
    <div id="red-box" class="alert alert-danger border border-4 border-danger"></div>
    <label>Username</label>
    <input type="text" name="username" class="form-control mb-2" placeholder="username" />
    <label>Password</label>
    <input type="password" name="password" class="form-control mb-2" id="password" onkeyup="check();"
        placeholder="password" />
    <label>Confirm password</label>
    <input type="password" name="confirm_password" class="form-control mb-2" id="confirm_password" onkeyup="check();"
        placeholder="confirm password" />
    <span id="message" class="text-danger"></span>
    <button type="submit" id="submit" class="btn btn-outline-dark">Signup</button>
</form>
{{template "bottom" .}}