{{ block "article" . }}
<div class="mb-3" id="article">
    <h1>{{.Title}}</h1>
    <a class="badge bg-warning text-dark text-decoration-none" href="/commits/{{.Id}}">Commit History</a> |
    <a class="badge bg-warning text-dark text-decoration-none" href="/commits/create/{{.Id}}">Create Commit</a>
    <hr />
    <span id="content"></span>
    <script>
        renderMarkdown("content", "{{.Body}}");
    </script>
</div>
{{end}}


{{ block "articles" . }}
<h3>Posts</h3>
<ul>
    {{ range . }}
    <li><a href="/pages/{{.Id}}">{{.Title}}</a></li>
    {{end}}
</ul>
{{end}}