{{ block "article" . }}
<div class="mb-3" id="article">
    <h1>{{.Title}}</h1>
    <a class="badge bg-warning text-dark text-decoration-none" href="/commits/{{.Id}}">Commit History</a>
    <a class="badge bg-warning text-dark text-decoration-none" href="/commits/create/{{.Id}}">Create Commit</a>
    <span class="badge bg-primary" id="last_update">{{.CommitCreated}}</span>

    <hr />
    <span id="content">{{.Body}}</span>
    <script>
        renderMarkdown("content", "{{.Body}}");
        document.getElementById("last_update").innerHTML = "Last updated: " + getDate("{{.CommitCreated}}");
    </script>
</div>
{{end}}


{{ block "articles" . }}
{{if .}}
<h3>Pages</h3>
<ul>
    {{ range . }}
    <li><a href="/article/{{.Id}}">{{.Title}}</a></li>
    {{end}}
</ul>
{{end}}
{{end}}