@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: #FFFFFF;
}

hr {
    border: 2px solid;
    opacity: 1;
}

.btn {
    border-radius: 0px;
    font-weight: 700;
}

* {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.btn-outline-dark {
    border: 3px solid;
}

.alert {
    border-radius: 0px;
    color: var(--dark);
}

.toc {
    max-width: 400px;
    width: auto;
}

.card {
    border-radius: 0px;
    border: 3px solid;
}

/* a {
    color: black;
} */

.form-control {
    border: 3px solid;
    border-radius: 0px;
    font-weight: 500;    
}

.form-control:focus {
    border-color: rgb(136, 136, 136);
    box-shadow: none;
}

label {
    font-weight: 500;
}

span {
    font-weight: 500;
}

#red-box:empty {
    display: none;
}