{{ define "top" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <script src="/assets/js/marked.min.js"></script>
    <script src="/assets/js/purify.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
    <script src="/assets/js/json-enc.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="p-1">
    <div class="container border border-4 border-dark d-flex flex-column" style="min-height: 99vh;">
        <div class="header navbar border-bottom border-4 border-dark mb-3">
            <div class="float-start">
                <a class="text-decoration-none text-dark" href="/">
                    <h2>*mdpages</h2>
                </a>
            </div>
            <div class="float-end">
                <a class="btn btn-outline-dark m-1" href="/">Home</a>
                <a class="btn btn-outline-dark m-1" href="/pages">Pages</a>
                {{if not .User}}
                <a class="btn btn-outline-dark m-1" href="/login">Login</a>
                <a class="btn btn-outline-dark m-1" href="/signup">Signup</a>
                {{else}}
                <a class="btn btn-outline-dark m-1" href="/account">Account</a>
                <button class="btn btn-outline-dark m-1" hx-post="/htmx/logout">Logout</button>
                {{end}}
            </div>
        </div>
        <div class="mx-md-5 my-3 my-md-5" style="max-width: 55rem;">
            {{end}}